<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - App de Análisis de Datos</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Incluir las librerías de jQuery y jQuery Validation -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.tailwindcss.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/css/dataTables.tailwindcss.css"></script>
    <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
    <script>

        // Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;
    
        var pusher = new Pusher('f02e4f2876cbdf202f85', {
          cluster: 'us2'
        });
    
        var channel = pusher.subscribe('my-channel');
        channel.bind('my-event', function(data) {
            $('#tabla_contacto').DataTable().ajax.reload();
        });
      </script>
    <script>
        tailwind.config = {
            darkMode: 'class',
            theme: {
                extend: {},
            },
        }
    </script>
    <style>
        .error {
            color: red;
            font-size: 0.875rem;
            margin-top: 0.25rem;
        }
    </style>
</head>

<body class="bg-gray-100 text-gray-800">

    <!-- Navbar -->
    <nav class="bg-white shadow-lg border-b border-gray-200">
        <div class="container mx-auto px-4 py-4 flex justify-between items-center">
            <!-- Logo -->
            <a href="/" class="text-3xl font-bold text-indigo-600 transition-transform transform hover:scale-110 hover:text-indigo-800" aria-label="Inicio">
                DataAnalyzer
            </a>

            <!-- Links del navbar -->
            <div class="hidden md:flex space-x-6">
                <a href="/" class="relative text-gray-700 hover:text-indigo-600 transition-transform duration-300 transform hover:scale-105 group" aria-label="Inicio">
                    Inicio
                    <span class="absolute inset-x-0 bottom-0 h-1 bg-indigo-600 rounded-t-lg transform scale-x-0 group-hover:scale-x-100 transition-transform duration-300"></span>
                </a>
                <a href="/dashboard" class="relative text-gray-700 hover:text-indigo-600 transition-transform duration-300 transform hover:scale-105 group" aria-label="Análisis de Datos">
                    Análisis de Datos
                    <span class="absolute inset-x-0 bottom-0 h-1 bg-indigo-600 rounded-t-lg transform scale-x-0 group-hover:scale-x-100 transition-transform duration-300"></span>
                </a>
                <a href="/works" class="relative text-gray-700 hover:text-indigo-600 transition-transform duration-300 transform hover:scale-105 group" aria-label="Cómo Funciona">
                    Cómo Funciona
                    <span class="absolute inset-x-0 bottom-0 h-1 bg-indigo-600 rounded-t-lg transform scale-x-0 group-hover:scale-x-100 transition-transform duration-300"></span>
                </a>
                <a href="/about" class="relative text-gray-700 hover:text-indigo-600 transition-transform duration-300 transform hover:scale-105 group" aria-label="Acerca de">
                    Acerca de
                    <span class="absolute inset-x-0 bottom-0 h-1 bg-indigo-600 rounded-t-lg transform scale-x-0 group-hover:scale-x-100 transition-transform duration-300"></span>
                </a>
                <a href="/contact" class="relative text-gray-700 hover:text-indigo-600 transition-transform duration-300 transform hover:scale-105 group" aria-label="Contacto">
                    Contacto
                    <span class="absolute inset-x-0 bottom-0 h-1 bg-indigo-600 rounded-t-lg transform scale-x-0 group-hover:scale-x-100 transition-transform duration-300"></span>
                </a>
                <button id="open-modal" class="bg-indigo-600 text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 rounded-lg py-2 px-4 transition-all duration-300 transform hover:scale-105" aria-label="Login">
                    Login
                </button>
            </div>

            <!-- Botón para dispositivos móviles -->
            <div class="md:hidden">
                <button id="navbar-toggle" class="text-gray-700 hover:text-indigo-600 focus:outline-none transition-transform duration-300 transform hover:rotate-90" aria-label="Abrir menú">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                </button>
            </div>
        </div>
    </nav>

    <!-- Contenido de la página de contacto -->
    <div class="container mx-auto py-8 px-4">
        <section class="text-center mb-12">
            <h1 class="text-5xl font-bold text-gray-900 mb-4">Contáctanos</h1>
            <p class="text-lg text-gray-600 mb-8">¿Tienes alguna pregunta o necesitas asistencia? Completa el formulario a continuación o utiliza los métodos de contacto alternativos.</p>

            <!-- Formulario de contacto -->
            <form id="contactForm" method="POST" class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-lg">
                <div class="mb-4">
                    <label for="nombre" class="block text-left text-gray-700 font-bold mb-2">Nombre</label>
                    <input type="text" id="nombre" name="nombre" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600" placeholder="Tu nombre" aria-required="true" aria-invalid="false">
                </div>
                <div class="mb-4">
                    <label for="correo" class="block text-left text-gray-700 font-bold mb-2">Correo Electrónico</label>
                    <input type="email" id="correo" name="correo" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600" placeholder="Tu correo electrónico" aria-required="true" aria-invalid="false">
                </div>
                <div class="mb-4">
                    <label for="asunto" class="block text-left text-gray-700 font-bold mb-2">Mensaje</label>
                    <textarea id="asunto" name="asunto" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600" rows="6" placeholder="Escribe tu mensaje aquí" aria-required="true" aria-invalid="false"></textarea>
                </div>
                <button type="submit" class="bg-indigo-600 text-white py-2 px-4 rounded-lg hover:bg-indigo-700 transition-all duration-300 transform hover:scale-105">Enviar</button>
            </form>
        </section>
        <section class="text-center mb-12 relative overflow-x-auto">
            <table id="tabla_contacto" class="min-w-full bg-white border border-gray-200 shadow-md rounded-lg display">
                <thead>
                    <tr class="bg-indigo-600">
                        <th class="py-3 px-6 text-center">ID</th>
                        <th class="py-3 px-6 text-center">Correo</th>
                        <th class="py-3 px-6 text-center">Nombre</th>
                        <th class="py-3 px-6 text-center">Asunto</th>
                        <th class="py-3 px-6 text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody class="text-gray-700">
                    <!-- Los datos de la tabla se llenarán aquí con DataTables -->
                </tbody>
            </table>
        </section>        
    </div>

    <!-- Modal de Editar Contacto -->
    <div id="editarModal" class="fixed inset-0 flex items-center justify-center z-50 hidden">
        <div class="bg-white rounded-lg shadow-lg w-1/3 p-6">
            <h5 class="text-xl font-bold mb-4">Editar Contacto</h5>
            <form id="formEditarContacto">
                <input type="hidden" id="idContacto" name="idContacto">
                <div class="mb-4">
                    <label for="correoElectronico" class="block text-gray-700">Correo Electrónico</label>
                    <input type="email" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600" id="correoElectronico" name="correoElectronico">
                </div>
                <div class="mb-4">
                    <label for="nombred" class="block text-gray-700">Nombre</label>
                    <input type="text" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600" id="nombred" name="nombred">
                </div>
                <div class="mb-4">
                    <label for="asuntod" class="block text-gray-700">Asunto</label>
                    <input type="text" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600" id="asuntod" name="asuntod">
                </div>
                <div class="flex justify-end">
                    <button type="button" class="bg-gray-300 text-gray-700 px-4 py-2 rounded-lg mr-2" onclick="cerrarModal('editarModal')">Cancelar</button>
                    <button type="submit" class="bg-indigo-600 text-white px-4 py-2 rounded-lg">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal de Confirmación para Eliminar -->
    <div id="eliminarModal" class="fixed inset-0 flex items-center justify-center z-50 hidden">
        <div class="bg-white rounded-lg shadow-lg w-1/3 p-6">
            <h5 class="text-lg font-bold mb-4">Eliminar Contacto</h5>
            <p>¿Estás seguro de que deseas eliminar este contacto?</p>
            <div class="flex justify-end mt-4">
                <button type="button" class="bg-gray-300 text-gray-700 px-4 py-2 rounded-lg mr-2" onclick="cerrarModal('eliminarModal')">Cancelar</button>
                <button type="button" class="bg-red-600 text-white px-4 py-2 rounded-lg" id="btnEliminarConfirmado">Eliminar</button>
            </div>
        </div>
    </div>

    <div id="loadingOverlay" class="fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center z-50 hidden">
        <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-b-4 border-white"></div>
    </div>

    <script>
        $(document).ready(function () {
            var url = '/fetch_contacto';

            $('#tabla_contacto').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.1.8/i18n/es-MX.json',
                },
                "ajax":{
                    "url": url,
                    "dataSrc": ""
                },
                "columns": [
                    {"data": "Id_Contacto"},
                    {"data": "Correo_Electronico"},
                    {"data": "Nombre"},
                    {"data": "Asunto"},
                    {
                        "data": null,
                        "render": function(data, type, row) {
                            return `
                                <button class="bg-yellow-500 text-white py-1 px-3 rounded-lg hover:bg-yellow-600 transition-all duration-200" onclick="editarContacto(${row.Id_Contacto})"><i class="bi bi-pencil-square"></i></button>
                                <button class="bg-red-500 text-white py-1 px-3 rounded-lg hover:bg-red-600 transition-all duration-200 ml-2" onclick="eliminarContacto(${row.Id_Contacto})"><i class="bi bi-trash3-fill"></i></button>
                            `;
                        },
                        "orderable": false, 
                        "searchable": false 
                    }
                ],
            });
        });
        function editarContacto(id) {
            $('#loadingOverlay').removeClass('hidden');
            $.ajax({
                url: '/obtener_contacto/' + id,
                type: 'GET',
                success: function(data) {
                    $('#loadingOverlay').addClass('hidden');
                    $('#idContacto').val(data.Id_Contacto);
                    $('#correoElectronico').val(data.Correo_Electronico);
                    $('#nombred').val(data.Nombre);
                    $('#asuntod').val(data.Asunto);
                    
                    // Mostrar el modal
                    document.getElementById('editarModal').classList.remove('hidden');
                }
            });
        }

        function cerrarModal(modalId) {
            document.getElementById(modalId).classList.add('hidden');
        }

        $("#contactForm").on('submit', function(e) {
            e.preventDefault();
            
            var formData = $(this).serialize();  // Convierte el formulario en una cadena de consulta para GET

            $.ajax({
                url: '/add_contacto?' + formData,  // Agrega los parámetros a la URL para el método GET
                type: 'GET',
                success: function(response) {
                    alert(response.mensaje);  // Muestra el mensaje de éxito
                    $("#contactForm")[0].reset();
                },
                error: function(xhr, status, error) {
                    console.log(error);  // Manejo de errores
                }
            });
        });

        $('#formEditarContacto').on('submit', function(e) {
            e.preventDefault();
            
            var formData = $(this).serializeArray();
            var jsonData = {};
            
            $.each(formData, function() {
                jsonData[this.name] = this.value;
            });

            var idContacto = jsonData["idContacto"];
            $('#loadingOverlay').removeClass('hidden');

            $.ajax({
                url: '/actualizar_contacto/' + idContacto,
                type: 'PUT',
                contentType: 'application/json',  // Cambiar el tipo de contenido a JSON
                data: JSON.stringify(jsonData),   // Convertir los datos a formato JSON
                success: function(response) {
                    $('#loadingOverlay').addClass('hidden');
                    cerrarModal('editarModal');
                    $('#tabla_contacto').DataTable().ajax.reload();
                },
                error: function(xhr, status, error) {
                    $('#loadingOverlay').addClass('hidden');
                    console.log("Error: " + xhr.responseText);
                }
            });
        });
        function eliminarContacto(id) {
            $('#btnEliminarConfirmado').data('id', id);
            document.getElementById('eliminarModal').classList.remove('hidden');
        }

        $('#btnEliminarConfirmado').on('click', function() {
            var id = $(this).data('id');
            
            $.ajax({
                url: '/eliminar_contacto/' + id,
                type: 'DELETE',
                success: function(result) {
                    cerrarModal('eliminarModal');
                    $('#tabla_contacto').DataTable().ajax.reload();
                }
            });
        });
    </script>

</body>

</html>
